<div class="w-screen h-screen flex flex-col bg-red-600 justify-center relative"> <!-- Offset -->
  <div class="bg-gray-500 h-full w-full flex flex-col items-center"> <!-- Range -->

    <!-- Title Card & Back Button-->
    <div class="absolute z-99 top-0 h-14 sm:h-20 bg-white shadow-md p-4 flex flex-row items-between w-full"> 
      <a (click)="stopCamera()" class="flex justify-center w-8 items-center"><mat-icon class="text-black text-2xl sm:text-6xl">arrow_back</mat-icon></a>
      <h2 class="col-span-4 text-lg font-bold w-full text-center sm:text-4xl">Register SIM Card</h2>
    </div>

    <!-- Step One - Left Side -->
    @if(currentStep == 0){
      <div class="absolute z-80 w-full rounded-b-full top-14 sm:top-20 grid grid-cols-6 gap-4 p-6 sm:gap-8 sm:p-12 bg-gray-800/80">
        <!-- <mat-icon [svgIcon]="'feather:arrow-right'" class="text-white col-span-1 w-auto h-auto sm:m-4"></mat-icon> -->
        <span class="col-span-full text-white text-center text-lg sm:text-4xl my-auto">Look to your <a class="font-bold text-[#ff0078]">right</a> for left face scan.</span>
      </div>
      @if(complete == true) {
        <div class="absolute z-30 h-screen w-screen flex justify-center items-center">
          <div class="absolute w-auto h-auto rounded-xl sm:rounded-3xl bg-white justify-center p-4 text-center">
              <h1 class="text-3xl sm:text-6xl font-bold ">Step 1 Completed</h1>
          </div>
      </div>
      }
    }

    <!-- Step Two - Right Side -->
    @if(currentStep == 1){
      <div class="absolute z-80 w-full rounded-b-full top-14 sm:top-20 grid grid-cols-6 gap-4 p-6 sm:gap-8 sm:p-12 bg-gray-800/80">
        <!-- <mat-icon [svgIcon]="'feather:arrow-right'" class="text-white col-span-1 w-auto h-auto sm:m-4"></mat-icon> -->
        <span class="col-span-full text-white text-center text-lg sm:text-4xl my-auto">Look to your <a class="font-bold text-[#ff0078]">left</a> for right face scan.</span>
      </div>
    }

    <!-- Step Three - Front Side -->
    @if(currentStep == 2){
      <div class="absolute z-80 w-full rounded-b-full top-14 sm:top-20 grid grid-cols-6 gap-4 p-6 sm:gap-8 sm:p-12 bg-gray-800/80">
        <!-- <mat-icon [svgIcon]="'feather:smile'" class="text-white col-span-1 w-auto h-auto sm:m-4"></mat-icon> -->
        <span class="col-span-full text-white text-center text-lg sm:text-4xl my-auto">Look <a class="font-bold text-[#ff0078]">forward</a> for front face scan</span>
      </div>
    }

    <!-- Step Three - Blick x3 -->
    @if(currentStep == 3){
      <div class="absolute z-80 w-full rounded-b-full top-14 sm:top-20 grid grid-cols-6 gap-4 p-6 sm:gap-8 sm:p-12 bg-gray-800/80">
        <!-- <mat-icon [svgIcon]="'feather:eye'" class="text-white col-span-1 w-auto h-auto sm:m-4"></mat-icon> -->
        <span class="col-span-full text-white text-center text-lg sm:text-4xl my-auto"><a class="font-bold text-[#ff0078]">Blink three times</a> while looking at the camera.</span>
      </div>
    }

    @if(currentStep == 4){
      <div class="absolute z-30 h-screen w-screen flex justify-center items-center">
        <div class="absolute w-auto h-auto rounded-xl sm:rounded-3xl bg-white justify-center p-4 text-center">
            <h1 class="text-3xl sm:text-6xl font-bold ">Verification Complete</h1>
            <button mat-flat-button class="w-full h-auto bg-[#ff0078] text-white rounded-3xl mt-4 text-lg sm:text-4xl sm:p-8" (click)="_stopCamera()" >Continue</button>
        </div>
    </div>
    }

    <!-- Facemesh Camera -->
    <div class="relative w-full h-full">
        <video #videoElement autoplay playsinline muted></video>
        <canvas #canvasElement class="absolute z-40"></canvas>
    </div>

  </div>
</div>
  